@model ProveduriaWeb.Proveedores

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
